
@import 'welcome'
* {
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.cleatfix:after {
  clear: both;
}

#main_navigation {
  padding: 2.5em 5%;
  border-bottom: 1px solid #E9E9E9;
}
#main_navigation .name {
  font-weight: 700;
  font-size: .7em;
  text-transform: uppercase;
  border: 2px solid #E9E9E9;
  padding: 1rem;
  text-decoration: none;
  letter-spacing: 4px;
  float: left;
}
#main_navigation nav {
  float: right;
  padding-top: 1.5rem;
}
#main_navigation nav a {
  color: #424652;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1rem;
}

#main_footer {
  padding: 2.5em 5%;
  border-top: 1px solid #E9E9E9;
}
#main_footer .copyright {
  float: left;
  font-size: .9em;
  margin: 0;
}
#main_footer nav {
  float: right;
}
#main_footer nav i {
  color: #424652;
  margin-left: 1em;
  padding-top: .2em;
}


@import 'welcome'